node_modules
.pnpm-store
.turbo
dist
.next
out
build
coverage

.env
.env.local
.env.*.local
!.env.example

apps/backend/storage
apps/backend/prisma/migrations/dev.db*
*.log
logs

.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

*.tsbuildinfo
.cache

apps/backend/prisma/migrations/_*

# Playwright
apps/frontend/e2e/playwright-report/
apps/frontend/e2e/test-results/
apps/frontend/e2e/.playwright/
playwright-report/
test-results/
